{% load i18n %}

<!DOCTYPE html>

<!--[if IE 7]>                  <html class="ie7 no-js" lang="en">     <![endif]-->
<!--[if lte IE 8]>              <html class="ie8 no-js" lang="en">     <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html class="not-ie no-js" lang="en">  <!--<![endif]-->
{% block head%}
<head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        
        <title>Home - SmartStart</title>
        
        <meta name="description" content="">
        <meta name="author" content="">
        <!--[if !lte IE 6]><!-->
                <link rel="stylesheet" href="{{ STATIC_URL }}css/style.css" media="screen" />

                <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans:400,600,300,800,700,400italic|PT+Serif:400,400italic" />
                
                <link rel="stylesheet" href="{{ STATIC_URL }}css/fancybox.min.css" media="screen" />

                <link rel="stylesheet" href="{{ STATIC_URL }}css/mediaelementplayer.min.css" media="screen" />
        <!--<![endif]-->

        <!--[if lte IE 6]>
                <link rel="stylesheet" href="//universal-ie6-css.googlecode.com/files/ie6.1.1.css" media="screen, projection">
        <![endif]-->

        <!--[if lt IE 9]>
                <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
</head>
{% endblock %}
{% block header %}
<header id="header" class="container clearfix">

        <a href="/" id="logo">
                <img src="{{ STATIC_URL }}img/logo.png" alt="SmartStart">
        </a>

        <nav id="main-nav">
                
                <ul>
                        <li class="current" >
                                <a href="/" data-description="All starts here">Home</a>
                                <ul>
                                        <li><a href="templates/logos-slider.html">Logos Slider</a></li>
                                        <li><a href="photos-slider.html">Photos Slider</a></li>
                                </ul>
                        </li>
                        <li>
                                <a href="elements.html" data-description="Crie seus projetos aqui">Projetos</a>
                                <ul>
                                        <li class="current"><a href="/project/new">Criar Projeto</a></li>
                                        <li><a href="our-team.html">Our Team</a>
                                                <ul>
                                                        <li><a href="we-are-hiring.html">We are hiring</a></li>
                                                </ul>
                                        </li>
                                        <li><a href="elements.html">Elements</a></li>
                                        <li><a href="pricing-tables.html">Pricing Tables</a></li>
                                        <li><a href="columns.html">Columns</a></li>
                                        <li><a href="#">Third Level Item</a>
                                                <ul>
                                                        <li><a href="#">This is a simple example</a></li>
                                                        <li><a href="#">Of the third level</a></li>
                                                        <li><a href="#">Navigation item</a></li> 
                                                </ul>
                                        </li>
                                </ul>
                        </li>
                        <li>
                                <a href="blog.html" data-description="What we think">Blog</a>
                                <ul>
                                        <li><a href="single-post.html">Single Post</a></li>
                                </ul>
                        </li>
                        <li>
                                <a href="portfolio-4-columns.html" data-description="Work we are proud of">Portfolio</a>
                                <ul>
                                        <li><a href="portfolio-2-columns.html">2 Columns</a></li>
                                        <li><a href="portfolio-3-columns.html">3 Columns</a></li>
                                        <li><a href="portfolio-4-columns.html">4 Columns</a></li>
                                        <li><a href="single-project.html">Single Project</a></li>
                                </ul>
                        </li>
                        <li>
                                {% if user.is_authenticated %}                                
                                <a href="/profiles/{{ user.username }}" data-description="Perfil do Usuario">{{user.username}}</a>
                                <ul>
                                        <li><a href="/profiles/edit">Edit</a></li>
                                        <li><a href="{% url auth_password_change %}">{% trans "Mudar Senha" %}</a>
                                        <li><a href="{% url auth_logout %}">Log Out</a></li>                            
                                </ul>
                                {% else %}
                                <a href="{% url auth_login %}" data-description="Enquire here">Entrar</a>
                                {% endif %}
                        </li>
                </ul>

        </nav><!-- end #main-nav -->
        
</header><!-- end #header -->

{% endblock %}

{% block content %}
{% endblock %}

{% block footer %}
<footer id="footer" class="clearfix">
        <div class="container">

                <div class="three-fourth">

                        <nav id="footer-nav" class="clearfix">

                                <ul>
                                        <li><a href="index.html">Home</a></li>
                                        <li><a href="elements.html">Features</a></li>
                                        <li><a href="blog.html">Blog</a></li>
                                        <li><a href="portfolio-4-columns.html">Portfolio</a></li>
                                        <li><a href="contact-us.html">Contact</a></li>
                                </ul>
                                
                        </nav><!-- end #footer-nav -->

                        <ul class="contact-info">
                                <li class="address">012 Some Street. New York, NY, 12345. USA</li>
                                <li class="phone">(123) 456-7890</li>
                                <li class="email"><a href="mailto:contact@companyname.com">contact@companyname.com</a></li>
                        </ul><!-- end .contact-info -->
                        
                </div><!-- end .three-fourth -->

                <div class="one-fourth last">

                        <span class="title">Stay connected</span>

                        <ul class="social-links">
                                <li class="twitter"><a href="http://twitter.com/CapitalizeIdeia" target="_blank">Twitter</a></li>
                                <li class="facebook"><a href="#">Facebook</a></li>
                                <li class="digg"><a href="#">Digg</a></li>
                                <li class="vimeo"><a href="#">Vimeo</a></li>
                                <li class="youtube"><a href="#">YouTube</a></li>
                                <li class="skype"><a href="#">Skype</a></li>
                        </ul><!-- end .social-links -->

                </div><!-- end .one-fourth.last -->
                
        </div><!-- end .container -->
</footer><!-- end #footer -->

<footer id="footer-bottom" class="clearfix">

        <div class="container">

                <ul>
                        <li>Capitalize Sua Ideia &copy; 2012</li>
                        <li><a href="#">Legal Notice</a></li>
                        <li><a href="#">Terms</a></li>
                </ul>

        </div><!-- end .container -->
</footer><!-- end #footer-bottom -->
</html>
{% endblock %}