{% extends "base.html" %}
{% load i18n %}
{% block head %}
<head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        
        <title>Home - SmartStart</title>
        
        <meta name="description" content="">
        <meta name="author" content="">
        
        <!--[if !lte IE 6]><!-->
                <link rel="stylesheet" href="{{STATIC_URL}}css/style.css" media="screen" />

                <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans:400,600,300,800,700,400italic|PT+Serif:400,400italic" />
                
                <link rel="stylesheet" href="{{STATIC_URL}}css/fancybox.min.css" media="screen" />

                <link rel="stylesheet" href="{{STATIC_URL}}css/mediaelementplayer.min.css" media="screen" />

        <!--<![endif]-->

        <!--[if lte IE 6]>
                <link rel="stylesheet" href="//universal-ie6-css.googlecode.com/files/ie6.1.1.css" media="screen, projection">
        <![endif]-->

        <!--[if lt IE 9]>
                <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        
</head>
{% endblock %}
{% block content %}    

<section id="content" class="container clearfix">

        <h2 class="slogan align-center">We are a group of experienced designers, and developers.<br />
        We set new standards in user experience &amp; make future happen.</h2>

        <section id="photos-slider" class="ss-slider">
        
                <article class="slide">
                
                        <img src="{{ STATIC_URL }}img/placeholders/slider-slide-1.jpg" alt="" class="slide-bg-image" />
                        
                        <div class="slide-button">
                                <span class="dropcap">1</span>
                                <h5>Responsive Layout</h5>
                                <span class="description">From desktop to mobile</span>
                        </div>
                
                        <div class="slide-content">
                                <h2>Responsive Layout</h2>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec purus justo.</p>
                                <p><a class="button" href="#">Read More</a></p>
                        </div>
                        
                </article><!-- end .slide (Responsive Layout) -->
        
                <article class="slide">
                
                        <img src="{{ STATIC_URL }}img/placeholders/slider-slide-2.jpg" alt="" class="slide-bg-image" />
                
                        <div class="slide-button">              
                                <span class="dropcap">2</span>
                                <h5>HTML5 / CSS3</h5>
                                <span class="description">For today and tomorrow</span>
                        </div>
                        
                        <div class="slide-content">
                                <h2>HTML5 / CSS3</h2>
                                <p>Hendrerit eleifend condimentum quis, varius at lacus. Donec ultrices justo scelerisque erat feugiat sed mattis justo volutpat.</p>
                                <p><a class="button" href="#">Read More</a></p>
                        </div>
                        
                </article><!-- end .slide (HTML5 / CSS3) -->
        
                <article class="slide">
                
                        <img src="{{ STATIC_URL }}img/placeholders/slider-slide-3.jpg" alt="" class="slide-bg-image" />
                
                        <div class="slide-button">
                                <span class="dropcap">3</span>
                                <h5>Easily Customisable</h5>
                                <span class="description">Build the way you want!</span>
                        </div>
                        
                        <div class="slide-content">
                                <h2>Easily Customisable</h2>
                                <p>Etiam at nunc felis, vitae gravida libero. Morbi molestie elit eget metus volutpat vitae bibendum quam lacinia. Maecenas porttitor blandit nisl sit amet blandit. Phasellus porta sodales accumsan.</p>
                                <p><a class="button" href="#">Read More</a></p>
                        </div>
                        
                </article><!-- end .slide (Easily Customisable) -->
        
                <article class="slide">
                
                        <img src="{{ STATIC_URL }}img/placeholders/slider-slide-4.jpg" alt="" class="slide-bg-image" />
                
                        <div class="slide-button">
                                <span class="dropcap">4</span>
                                <h5>Unique &amp; Clean</h5>
                                <span class="description">Stand out from the crowd!</span>
                        </div>
                        
                        <div class="slide-content">
                                <h2>Unique &amp; Clean</h2>
                                <p>Fusce porta elit quis nunc mollis ut lacinia eros accumsan. Aenean consequat egestas diam, vel pharetra tellus venenatis in.</p>
                                <p><a class="button" href="#">Read More</a></p>
                        </div>
                        
                </article><!-- end .slide (Unique & Clean) -->
                
        </section><!-- end #features-slider -->


        <h6 class="section-title">Latest Projects</h6>

        <ul class="projects-carousel clearfix">

                <li>
                        <a href="single-project.html">
                                <img src="{{ STATIC_URL }}img/placeholders/portfolio-project-4th-1.jpg" alt="">
                                <h5 class="title">Altered</h5>
                                <span class="categories">illustration / design</span>
                        </a>
                </li>

                <li>
                        <a href="single-project.html">
                                <img src="{{ STATIC_URL }}img/placeholders/portfolio-project-4th-2.jpg" alt="">
                                <h5 class="title">Snow Tower</h5>
                                <span class="categories">illustration / photography</span>
                        </a>
                </li>

                <li>
                        <a href="single-project.html">
                                <img src="{{ STATIC_URL }}img/placeholders/portfolio-project-4th-3.jpg" alt="">
                                <h5 class="title">Not the end</h5>
                                <span class="categories">animation / illustration</span>
                        </a>
                </li>

                <li>
                        <a href="single-project.html">
                                <img src="{{ STATIC_URL }}img/placeholders/portfolio-project-4th-4.jpg" alt="">
                                <h5 class="title">Shift</h5>
                                <span class="categories">web / animation</span>
                        </a>
                </li>

                <li>
                        <a href="single-project.html">
                                <img src="{{ STATIC_URL }}img/placeholders/portfolio-project-4th-1.jpg" alt="">
                                <h5 class="title">Synergy</h5>
                                <span class="categories">illustration / photography</span>
                        </a>
                </li>

                <li>
                        <a href="single-project.html">
                                <img src="{{ STATIC_URL }}img/placeholders/portfolio-project-4th-2.jpg" alt="">
                                <h5 class="title">The Game</h5>
                                <span class="categories">photography</span>
                        </a>
                </li>

                <li>
                        <a href="single-project.html">
                                <img src="{{ STATIC_URL }}img/placeholders/portfolio-project-4th-3.jpg" alt="">
                                <h5 class="title">Trantor</h5>
                                <span class="categories">illustration / web / animation</span>
                        </a>
                </li>

                <li>
                        <a href="single-project.html">
                                <img src="{{ STATIC_URL }}img/placeholders/portfolio-project-4th-4.jpg" alt="">
                                <h5 class="title">Futurisk</h5>
                                <span class="categories">illustration / design</span>
                        </a>
                </li>
        </ul><!-- end .projects-carousel -->

        <h6 class="section-title">Latest stuff from our blog</h6>

        <ul class="post-carousel">

                <li>

                        <a href="single-post.html">
                                <img src="{{ STATIC_URL }}img/placeholders/blog-post-1.jpg" alt="" class="entry-image">
                        </a>

                        <div class="entry-meta">

                                <a href="single-post.html">
                                        <span class="post-format">Permalink</span>
                                </a>

                                <span class="date">Sep 17 2011</span>

                        </div><!-- end .entry-meta -->

                        <div class="entry-body">

                                <a href="single-post.html">
                                        <h5 class="title">Bringing iMessage to the Desktop</h5>
                                </a>

                                <p>Lorem ipsum dolor sit amet nec, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque.</p>
                                        
                        </div><!-- end .entry-body -->

                </li>

                <li>

                        <div class="image-gallery-slider">

                                <ul>

                                        <li>
                                                <a href="single-post.html">
                                                        <img src="{{ STATIC_URL }}img/placeholders/blog-post-2.jpg" alt="" class="entry-image">
                                                </a>
                                        </li>

                                        <li>
                                                <a href="single-post.html">
                                                        <img src="{{ STATIC_URL }}img/placeholders/blog-post-2.jpg" alt="" class="entry-image">
                                                </a>
                                        </li>

                                        <li>
                                                <a href="single-post.html">
                                                        <img src="{{ STATIC_URL }}img/placeholders/blog-post-2.jpg" alt="" class="entry-image">
                                                </a>
                                        </li>

                                </ul>
                                
                        </div><!-- end .image-gallery-slider -->

                        <div class="entry-meta">

                                <a href="#">
                                        <span class="post-format gallery">Permalink</span>
                                </a>

                                <span class="date">Sep 17 2011</span>

                        </div><!-- end .entry-meta -->

                        <div class="entry-body">

                                <a href="#">
                                        <h5 class="title">Bringing iMessage to the Desktop</h5>
                                </a>

                                <p>Lorem ipsum dolor sit amet nec, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque.</p>
                                        
                        </div><!-- end .entry-body -->

                </li>

                <li>

                        <iframe src="http://player.vimeo.com/video/32314979?portrait=0&amp;color=ffffff" width="220" height="125" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen class="entry-video"></iframe>

                        <div class="entry-meta">

                                <a href="#">
                                        <span class="post-format video">Permalink</span>
                                </a>

                                <span class="date">Sep 17 2011</span>

                        </div><!-- end .entry-meta -->

                        <div class="entry-body">

                                <a href="#">
                                        <h5 class="title">Some Amazing Video Clip</h5>
                                </a>

                                <p>Lorem ipsum dolor sit amet nec, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque.</p>
                                        
                        </div><!-- end .entry-body -->

                </li>

                <li>

                        <div class="entry-meta">

                                <a href="#">
                                        <span class="post-format link">Permalink</span>
                                </a>

                                <span class="date">Sep 17 2011</span>

                        </div><!-- end .entry-meta -->

                        <div class="entry-body">

                                <a href="#">
                                        <h5 class="title">Visit our Sister Site!</h5>
                                </a>

                                <p>Lorem ipsum dolor sit amet nec, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque.</p>
                                        
                        </div><!-- end .entry-body -->

                </li>

                <li>

                        <audio controls="controls" class="entry-audio">
                                <source type="audio/mp3" src="http://c780792.r92.cf2.rackcdn.com/hit-it-hard.mp3"></source>
                                <source type="audio/ogg" src="http://c780792.r92.cf2.rackcdn.com/hit-it-hard.ogg"></source>
                                <object data="js/flashmediaelement.swf" type="application/x-shockwave-flash">
                                        <param value="js/flashmediaelement.swf" name="movie">
                                        <param value="controls=true&amp;file=http://c780792.r92.cf2.rackcdn.com/hit-it-hard.mp3" name="flashvars">
                                </object>
                        </audio>

                        <div class="entry-meta">

                                <a href="#">
                                        <span class="post-format audio">Permalink</span>
                                </a>

                                <span class="date">Sep 17 2011</span>

                        </div><!-- end .entry-meta -->

                        <div class="entry-body">

                                <p>Lorem ipsum dolor sit amet nec, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque.</p>
                                        
                        </div><!-- end .entry-body -->

                </li>

                <li>

                        <div class="entry-meta">

                                <a href="#">
                                        <span class="post-format quote">Permalink</span>
                                </a>

                                <span class="date">Sep 17 2011</span>

                        </div><!-- end .entry-meta -->

                        <div class="entry-body">
                                
                                <blockquote class="simple">
                                        <p>I’ve decided on the photos that I would like you to use on the website. They are attached to this email. Please send them back when you’re finished as they are my only copies. Thanks!</p>
                                        <small>- Seriously...</small>
                                </blockquote>
                                        
                        </div><!-- end .entry-body -->

                </li>

                <li>

                        <div class="entry-meta">

                                <a href="#">
                                        <span class="post-format aside">Permalink</span>
                                </a>

                                <span class="date">Sep 17 2011</span>

                        </div><!-- end .entry-meta -->

                        <div class="entry-body">

                        <p><strong>This is an aside post format.</strong> Lorem ipsum dolor sit amet nec, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. </p>
                                        
                        </div><!-- end .entry-body -->

                </li>

        </ul><!-- end .post-carousel -->   
<!--[if !lte IE 6]><!-->
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/jquery-1.7.1.min.js"><\/script>')</script>
        <!--[if lt IE 9]> <script src="js/selectivizr-and-extra-selectors.min.js"></script> <![endif]-->
        <script src="{{STATIC_URL}}js/respond.min.js"></script>
        <script src="{{STATIC_URL}}js/jquery.easing-1.3.min.js"></script>
        <script src="{{STATIC_URL}}js/jquery.fancybox-1.3.4.pack.js"></script>
        <script src="{{STATIC_URL}}js/jquery.smartStartSlider.min.js"></script>
        <script src="{{STATIC_URL}}js/jquery.jcarousel.min.js"></script>
        <script src="{{STATIC_URL}}js/jquery.cycle.all.min.js"></script>
        <script src="{{STATIC_URL}}js/jquery.isotope.min.js"></script>
        <script src="{{STATIC_URL}}js/mediaelement-and-player.min.js"></script>
        <script src="//maps.google.com/maps/api/js?sensor=false"></script>
        <script src="{{STATIC_URL}}js/jquery.gmap.min.js"></script>
        <script src="{{STATIC_URL}}js/custom.js"></script>
<!--<![endif]-->
    
</section>
{% endblock %}