{% extends "base.html" %}
{% load i18n %}
{% load wysiwyg %}

{% block content %}
<div class="align-center">
<form enctype="multipart/form-data" action='.' method='post'>
  {% csrf_token %}
  <table>   
    {% wysiwyg_setup %}
    {{ form.as_table }}
    {% wysiwyg_editor "id_long_description" %}
  </table>
  <input type="submit" value="Save" />
</form>
</div>
{% endblock %}