{% extends "base.html" %}
{% load i18n %}

{% block content %}
<div class="align-center">
<form method="post" action=".">{% csrf_token %}
  {{ form.as_p }}

  <input type="submit" value="{% trans 'Submit' %}" />
</form>
</div>
{% endblock %}
