{% extends "base.html" %}
{% load i18n %}

{% block content %}



<p>{% trans "Account successfully activated" %}</p>

<p><a href="{% url auth_login %}?next=/profiles/edit/">{% trans "Log in" %}</a></p>



{% endblock %}
