{% extends "base.html" %}
{% load i18n %}

{% block content %}{% csrf_token %}

<p>{% trans "Password reset successfully" %}</p>

<p><a href="{% url auth_login %}">{% trans "Log in" %}</a></p>

{% endblock %}
